<!DOCTYPE html>
<html>
  <head>
    <meta
      name="google-site-verification"
      content="GAOcMoGFsIwrpj8usisaXNmXC7_krXUg1qsFreXF518" />
    <meta charset="utf-8" />
    <link rel="icon" href="rsc/favicon.ico" type="image/x-icon" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title><%- titulo_pagina %></title>
    <meta
      name="description"
      content="El Departamento del Agua del CenUR Litoral Norte se dedica a la enseñanza, investigación y extensión en recursos hídricos. Descubre nuestras áreas de trabajo y proyectos." />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous" />
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg fixed-top shadow" id="nav"></nav>
      <div
        id="carouselExampleCaptions"
        class="carousel slide vh-100"
        data-bs-ride="carousel"
        data-bs-pause="false">
        <div class="carousel-indicators">
          <% carrusel.forEach((slide, index) => { %>
          <button
            type="button"
            data-bs-target="#carouselExampleCaptions"
            data-bs-slide-to="<%- index %>"
            class="<%- index === 0 ? 'active' : '' %>"
            aria-current="<%- index === 0 ? 'true' : '' %>"
            aria-label="Slide <%- index + 1 %>"></button>
          <% }); %>
        </div>

        <div class="carousel-inner">
          <% carrusel.forEach((slide, index) => { %>
          <div
            class="carousel-item object-fit-cover <%- index === 0 ? 'active' : '' %>"
            data-bs-interval="20000"
            style="height: 100vh">
            <img
              src="<%- slide.imagen %>"
              class="h-100 d-block w-100 object-fit-cover"
              alt="Slide <%- index + 1 %>" />
            <div class="carousel-caption mb-5" style="z-index: 2">
              <h1 class="text-center"><%- slide.titulo %></h1>
              <h4><%- slide.descripcion %></h4>
              <a
                class="btn btn-primary mt-5"
                style="font-size: x-large"
                href="<%- slide.boton_enlace %>">
                <%- slide.boton_texto %>
              </a>
            </div>
          </div>
          <% }); %>
        </div>

        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleCaptions"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleCaptions"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </header>

    <main>
      <section class="articles-section">
        <div class="container">
          <h2 class="section-title">Artículos Recientes</h2>
          <div id="article-container"></div>
        </div>
      </section>
      <section class="newsletter-section">
        <div class="container">
          <h2 class="section-title">Recibe Novedades</h2>
          <form id="newsletter-form">
            <div class="mb-3">
              <label for="email" class="form-label">Correo Electrónico</label>
              <input
                type="email"
                class="form-control"
                name="email"
                id="email"
                placeholder="Ingresa tu correo electrónico"
                required />
            </div>
            <button type="submit" class="btn btn-primary">Suscribirse</button>
          </form>
        </div>
      </section>
    </main>
    <div id="footer"></div>
  </body>
  <script>
    localStorage.setItem("activeNavItem", "inicio");
  </script>
  <script src="js/navbar.js"></script>
  <script src="js/index.js"></script>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
</html>
